@Styles.Render("~/Content/common.css")
@Styles.Render("~/Content/CI.css")

<div class="page-container">



    <div id="ProjectPanels">
        <div v-for="proj in projects">
            

        </div>

        <div class="project-panel" v-for="proj in projects">
            <div class="">
                <div class="row">
                    <div class="col-md-8">
                        <h2>{{ proj.Name }}</h2>
                        <p>{{ proj.VcsUrl }}</p>
                    </div>
                    <div class="col-md-4">
                        <button v-on:click="BuildProject(proj.Name, proj.VcsUrl)" class="pull-right btn btn-info btn-lg build-button">构建项目</button>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="row">
                    <div class="col-md-4">
                        代码库
                    </div>
                    <div class="col-md-4">
                        Unity
                    </div>
                    <div class="col-md-4">
                        测试
                    </div>
                </div>
            </div>
        </div>
    </div>




    

    

</div>

@Scripts.Render("~/Scripts/vue.min.js")
@Scripts.Render("~/Scripts/axios.min.js")

<script>
    var serverdata_projects = JSON.parse('@Html.Raw(@ViewBag.JsonData.Projects)');


    var app2 = new Vue({
        el: '#ProjectPanels',
        data: {
            projects: serverdata_projects,
            BuildProject: function (name, url) {
                // 拉取项目代码
                axios.get('/api/BuildAPI/GetProject', {
                    params: {
                        url: url,
                        name: name
                    }
                })
                    .then(function (response) {
                        console.log(response.data);
                        if (response.data.status) {
                            alert('success');
                        } else {
                            alert(response.data.errMsg);
                        }
                    })
                    .catch(function (error) {
                        alert(error)
                    });
            }
        }
    });

</script>
